<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2025-11-10 07:47:02</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-10 07:47:07</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-10 07:47:07</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-10 07:47:11</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-10 07:47:11</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-10 21:23:45</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-11-11 10:01:25</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-16 09:27:12</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-16 09:27:39</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-16 09:27:40</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-16 09:27:45</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-01-23 08:05:30</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-23 19:44:03</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-23 19:44:29</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-23 19:44:30</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-02-23 19:44:31</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-09 09:10:05</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-13 11:50:12</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-03-14 15:10:48</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-05-18 09:13:29</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-05-25 19:34:42</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-05-25 19:37:37</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-05-26 07:23:19</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>UserAssignableHotKeys</key>
	<array>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>120</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>99</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>118</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>96</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>key</key>
			<integer>97</integer>
			<key>modifier</key>
			<integer>8650752</integer>
			<key>sybmolichotkey</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1</real>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>NSGlobalDomain</string>
	</array>
	<key>login</key>
	<false/>
	<key>sessionChange</key>
	<false/>
</dict>
</plist>
