<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>60779.744659416843</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>11739</integer>
						<key>id64</key>
						<integer>11739</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>2AFBA995-0BD7-4F11-A104-97F0E5410B0D</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>11739</integer>
							<key>id64</key>
							<integer>11739</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>2AFBA995-0BD7-4F11-A104-97F0E5410B0D</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>16246</integer>
							<key>id64</key>
							<integer>16246</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>7373E9FB-B3FE-4ADC-9CF4-636C7C528EB7</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>16384</integer>
						<key>id64</key>
						<integer>16384</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>E5D34E24-E7AD-4CD1-82B6-7A4D110D25A4</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>16384</integer>
							<key>id64</key>
							<integer>16384</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>E5D34E24-E7AD-4CD1-82B6-7A4D110D25A4</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>16383</integer>
						<key>id64</key>
						<integer>16383</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>8209798D-853D-4988-9010-D32FA4EF8357</string>
					</dict>
					<key>Display Identifier</key>
					<string>4D1E3165-2A12-48FB-A06D-13DB24A62609</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>4868</integer>
						<key>id64</key>
						<integer>4868</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>B79972D4-37E5-4B1D-B87A-22210F82AF7A</string>
					</dict>
					<key>Display Identifier</key>
					<string>EA5289D0-D311-4779-A664-05D386488C85</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>41</integer>
						<key>id64</key>
						<integer>41</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>DC043748-0166-4320-AE22-4462712A4C1E</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>2040</integer>
						<key>id64</key>
						<integer>2040</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>23A044DB-3DC3-42A7-99FA-DBB1CA1E6070</string>
					</dict>
					<key>Display Identifier</key>
					<string>8A25CC75-9031-426B-90BD-C29CDA7BFB75</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>5897</integer>
						<key>id64</key>
						<integer>5897</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>0D348C37-7B14-479A-B9EE-D5B0C75E83FA</string>
					</dict>
					<key>Display Identifier</key>
					<string>50218EF1-57A3-491A-B686-FDA499788B8A</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>5789</integer>
						<key>id64</key>
						<integer>5789</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>ED4326F1-FD64-425A-A97F-151BA248D483</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
				</dict>
				<dict>
					<key>Collapsed Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>1761</integer>
						<key>id64</key>
						<integer>1761</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>9662A0F1-043E-4488-ACAF-AA41E3A49ECC</string>
					</dict>
					<key>Display Identifier</key>
					<string>37D8832A-2D66-02CA-B9F7-8F30A301B230</string>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>18</integer>
				<key>DeletedCount</key>
				<integer>19</integer>
				<key>LifetimeEntryCount</key>
				<integer>19</integer>
				<key>LifetimeMax</key>
				<real>3963.5441982082557</real>
				<key>LifetimeMin</key>
				<real>1.6159060001373291</real>
				<key>LifetimeSum</key>
				<real>19449.705193791306</real>
				<key>PersistedCount</key>
				<integer>1</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>1</integer>
				<key>DeletedCount</key>
				<integer>1</integer>
				<key>LifetimeEntryCount</key>
				<integer>1</integer>
				<key>LifetimeMax</key>
				<real>0.56677216687239707</real>
				<key>LifetimeMin</key>
				<real>0.56677216687239707</real>
				<key>LifetimeSum</key>
				<real>0.56677216687239707</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string>2AFBA995-0BD7-4F11-A104-97F0E5410B0D</string>
				<key>windows</key>
				<array>
					<integer>297086</integer>
					<integer>298315</integer>
					<integer>263565</integer>
					<integer>295849</integer>
					<integer>263570</integer>
					<integer>280799</integer>
					<integer>296912</integer>
					<integer>275527</integer>
					<integer>275526</integer>
					<integer>296898</integer>
					<integer>275264</integer>
					<integer>103</integer>
					<integer>49</integer>
					<integer>294417</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>7373E9FB-B3FE-4ADC-9CF4-636C7C528EB7</string>
				<key>windows</key>
				<array>
					<integer>49</integer>
					<integer>111712</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>E5D34E24-E7AD-4CD1-82B6-7A4D110D25A4</string>
				<key>windows</key>
				<array>
					<integer>255042</integer>
					<integer>298045</integer>
					<integer>294398</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
