<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AvailableUpdatesNotificationCountKey</key>
	<integer>2</integer>
	<key>AvailableUpdatesNotificationProductKey</key>
	<string>MSU_UPDATE_25F80_patch_26.5.1_major</string>
	<key>UserNotificationDate</key>
	<date>2026-06-21T11:05:46Z</date>
</dict>
</plist>
