<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>last-analytics-stamp</key>
	<real>803836964.32436597</real>
	<key>last-selection</key>
	<dict>
		<key>Height</key>
		<real>1440</real>
		<key>Width</key>
		<real>2560</real>
		<key>X</key>
		<real>0.0</real>
		<key>Y</key>
		<real>0.0</real>
	</dict>
	<key>last-selection-display</key>
	<integer>0</integer>
	<key>showsClicks</key>
	<true/>
	<key>style</key>
	<string>display</string>
	<key>video</key>
	<false/>
</dict>
</plist>
