<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>last-analytics-stamp</key>
	<array>
		<real>803872519.65206897</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>787983070.04313695</real>
	<key>loc</key>
	<string>en_US:IN</string>
	<key>magnification</key>
	<true/>
	<key>mod-count</key>
	<integer>3178</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>390510439</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAExhdW5jaHBh
				ZC5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABkAAAD///8PCAAAAAQD
				AAB0GgAA////DwwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx1Y89YAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQA
				AAABAQAARUNDQkMzNkEtNEFFMy00QjJELUE2NkItQkE5
				N0MyNkE2Mzg2GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AFQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAAAgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAKQAAAAA
				AAAAICAAADQBAAAAAAAAMCAAAGABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510440</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3AEAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAD
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAABwAA
				AAEBAABWb2x1bWVzAAcAAAABAQAAUHJlYm9vdAAJAAAA
				AQEAAENyeXB0ZXhlcwAAAAMAAAABAQAAQXBwAAwAAAAB
				AQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBw
				AAAgAAAAAQYAABAAAAAgAAAAMAAAAEAAAABUAAAAEAAA
				AGAAAAB0AAAACAAAAAQDAAAXAAAA////DwgAAAAEAwAA
				f3MJAP///w8IAAAABAMAAAIAAAAAAAAACAAAAAQDAAAV
				AgAAAAAAAAgAAAAEAwAAFwIAAAAAAAAIAAAABAMAACko
				AQAAAAAACAAAAAQDAAAqKAEAAAAAAAgAAAAEAwAAKygB
				AAAAAAAgAAAAAQYAALAAAADAAAAA0AAAAOAAAADwAAAA
				AAEAABABAAAgAQAACAAAAAAEAABBx5qzAQAAABgAAAAB
				AgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAHwAAAAEJ
				AABmaWxlOi8vL1N5c3RlbS9Wb2x1bWVzL1ByZWJvb3Qv
				AAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHYR4YWhWv
				JAAAAAEBAABGRkI0NTFERS05MjVFLTQyMzktQUVEQi03
				OTBGMUU1NDgyNDQYAAAAAQIAAIUAAAABAAAA7xMAAAEA
				AAAAAAAAAAAAABcAAAABAQAAL1N5c3RlbS9Wb2x1bWVz
				L1ByZWJvb3QACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
				TWFjaW50b3NoIEhECAAAAAAEAABBx5eSCwAAACQAAAAB
				AQAARUNDQkMzNkEtNEFFMy00QjJELUE2NkItQkE5N0My
				NkE2Mzg2GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAABgAAAA/v///wDwAAAAAAAA
				BwAAAAIgAAC8AgAAAAAAAAUgAAA8AgAAAAAAABAgAABM
				AgAAAAAAABEgAABwAgAAAAAAABIgAACwAQAAAAAAABMg
				AABgAgAAAAAAACAgAACcAgAAAAAAAAQAAAADAwAAAPAA
				AAQAAAADAwAAAAAAAAQAAAADAwAAAQAAACQAAAABBgAA
				MAMAADwDAAA8AwAASAMAADwDAAA8AwAAPAMAADwDAAA8
				AwAAqAAAAP7///8BAAAAyAIAAA0AAAAEEAAAiAAAAAAA
				AAAFEAAAMAEAAAAAAAAQEAAAaAEAAAAAAABAEAAAWAEA
				AAAAAAAAIAAAVAMAAAAAAAACIAAAHAIAAAAAAAAFIAAA
				iAEAAAAAAAAQIAAAMAAAAAAAAAARIAAA0AEAAAAAAAAS
				IAAAsAEAAAAAAAATIAAAwAEAAAAAAAAgIAAA/AEAAAAA
				AAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3836788954</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3836788954</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510442</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAE1haWwuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAArxoAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcdW
				PPWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEVD
				Q0JDMzZBLTRBRTMtNEIyRC1BNjZCLUJBOTdDMjZBNjM4
				NhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510443</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMIAAAAAQEAAE1hcHMuYXBw
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAuh4AAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcdW
				PPWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEVD
				Q0JDMzZBLTRBRTMtNEIyRC1BNjZCLUJBOTdDMjZBNjM4
				NhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Maps</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Maps.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Maps</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510444</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMKAAAAAQEAAFBob3Rvcy5h
				cHAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAJI6
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHVjz1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Photos</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Photos.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Photos</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510445</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAEZhY2VUaW1l
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAIIT
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHl5ILAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.FaceTime</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/FaceTime.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>FaceTime</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510446</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENhbGVuZGFy
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAKIM
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHl5ILAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iCal</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Calendar.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Calendar</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510447</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAENvbnRhY3Rz
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAADUR
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHVjz1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AddressBook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Contacts.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Contacts</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510448</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAFJlbWluZGVy
				cy5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABkAAAD///8PCAAAAAQD
				AACsRgAA////DwwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx5eSCwAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQA
				AAABAQAARUNDQkMzNkEtNEFFMy00QjJELUE2NkItQkE5
				N0MyNkE2Mzg2GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AFQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAAAgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAKQAAAAA
				AAAAICAAADQBAAAAAAAAMCAAAGABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Reminders</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510449</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE5vdGVzLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAADo2
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHVjz1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510450</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMMAAAAAQEAAEZyZWVmb3Jt
				LmFwcAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAHEX
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHl5ILAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.freeform</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Freeform.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Freeform</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510451</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMGAAAAAQEAAFRWLmFwcAAA
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABcAAAD/
				//8PCAAAAAQDAAAZAAAA////DwgAAAAEAwAAD1gAAP//
				/w8MAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcdW
				PPWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEVD
				Q0JDMzZBLTRBRTMtNEIyRC1BNjZCLUJBOTdDMjZBNjM4
				NhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
				AQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAABEAAAAAAAAAAUQAACIAAAAAAAAABAQ
				AACsAAAAAAAAAEAQAACcAAAAAAAAAAIgAABMAQAAAAAA
				AAUgAADMAAAAAAAAABAgAADcAAAAAAAAABEgAAAAAQAA
				AAAAABIgAADwAAAAAAAAABMgAACcAAAAAAAAACAgAAAs
				AQAAAAAAADAgAABYAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.TV</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/TV.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>TV</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510452</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMJAAAAAQEAAE11c2ljLmFw
				cAAAAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAP4h
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHVjz1gAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Music</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Music.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Music</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510454</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGgB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMNAAAAAQEAAEFwcCBTdG9y
				ZS5hcHAAAAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
				AwAAFwAAAP///w8IAAAABAMAABkAAAD///8PCAAAAAQD
				AAAcAAAA////DwwAAAABBgAAYAAAAHAAAACAAAAACAAA
				AAAEAABBx1Y89YAAABgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQA
				AAABAQAARUNDQkMzNkEtNEFFMy00QjJELUE2NkItQkE5
				N0MyNkE2Mzg2GAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AFQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAAAgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAKQAAAAA
				AAAAICAAADQBAAAAAAAAMCAAAGABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510455</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMTAAAAAQEAAFN5c3RlbSBT
				ZXR0aW5ncy5hcHAADAAAAAEGAAAQAAAAIAAAADQAAAAI
				AAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgA
				AAAEAwAAA1cAAP///w8MAAAAAQYAAGQAAAB0AAAAhAAA
				AAgAAAAABAAAQceXkgsAAAAYAAAAAQIAAAIAAAAAAAAA
				DwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MA
				AAAkAAAAAQEAAEVDQ0JDMzZBLTRBRTMtNEIyRC1BNjZC
				LUJBOTdDMjZBNjM4NhgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQ
				AACUAAAAAAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAA
				AAIgAABYAQAAAAAAAAUgAADYAAAAAAAAABAgAADoAAAA
				AAAAABEgAAAMAQAAAAAAABIgAAD8AAAAAAAAABMgAACo
				AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>390510457</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGwB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMUAAAAAQEAAGlQaG9uZSBN
				aXJyb3JpbmcuYXBwDAAAAAEGAAAQAAAAIAAAADQAAAAI
				AAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgA
				AAAEAwAAEYIAAP///w8MAAAAAQYAAGQAAAB0AAAAhAAA
				AAgAAAAABAAAQcdWPPWAAAAYAAAAAQIAAAIAAAAAAAAA
				DwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MA
				AAAkAAAAAQEAAEVDQ0JDMzZBLTRBRTMtNEIyRC1BNjZC
				LUJBOTdDMjZBNjM4NhgAAAABAgAAgQAAAAEAAADvEwAA
				AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACo
				AAAA/v///wEAAAAAAAAADQAAAAQQAABQAAAAAAAAAAUQ
				AACUAAAAAAAAABAQAAC4AAAAAAAAAEAQAACoAAAAAAAA
				AAIgAABYAQAAAAAAAAUgAADYAAAAAAAAABAgAADoAAAA
				AAAAABEgAAAMAQAAAAAAABIgAAD8AAAAAAAAABMgAACo
				AAAAAAAAACAgAAA4AQAAAAAAADAgAABkAQAAAAAAABDQ
				AAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ScreenContinuity</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iPhone Mirroring</string>
				<key>file-mod-date</key>
				<integer>3844207339</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3844207339</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>390510456</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHwB
				AAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABgAA
				AAEBAABnYXVyYXYAAAkAAAABAQAARG93bmxvYWRzAAAA
				DAAAAAEGAAAQAAAAIAAAADAAAAAIAAAABAMAAMxQAAAA
				AAAACAAAAAQDAABpeAAAAAAAAAgAAAAEAwAAnHgAAAAA
				AAAMAAAAAQYAAFgAAABoAAAAeAAAAAgAAAAABAAAQcdW
				PPWAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAAEAwAAAQAAAAAAAAAEAAAAAwMAAPUBAAAI
				AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAABQoRtzAAAAJAAAAAEBAABFQ0NCQzM2
				QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2QTYzODYYAAAA
				AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
				AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
				AAAEEAAARAAAAAAAAAAFEAAAiAAAAAAAAAAQEAAArAAA
				AAAAAABAEAAAnAAAAAAAAAACIAAAaAEAAAAAAAAFIAAA
				6AAAAAAAAAAQIAAA+AAAAAAAAAARIAAAHAEAAAAAAAAS
				IAAADAEAAAAAAAATIAAAnAAAAAAAAAAgIAAASAEAAAAA
				AAAwIAAAdAEAAAAAAAABwAAAzAAAAAAAAAARwAAAIAAA
				AAAAAAASwAAA3AAAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/gaurav/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>77940322187628</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>178287938091378</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>2483628649</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQB
				AAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAADAAA
				AAEBAABBcHBsaWNhdGlvbnMLAAAAAQEAAFByZXZpZXcu
				YXBwAAwAAAABBgAAEAAAACAAAAA0AAAACAAAAAQDAAAX
				AAAA////DwgAAAAEAwAAGQAAAP///w8IAAAABAMAAMFD
				AAD///8PDAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQA
				AEHHl5ILAAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAA
				AAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
				YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAAJAAAAAEB
				AABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2Qi1CQTk3QzI2
				QTYzODYYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAUAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				BAEAAAAAAAASIAAA9AAAAAAAAAATIAAAoAAAAAAAAAAg
				IAAAMAEAAAAAAAAwIAAAXAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Preview</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Preview.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Preview</string>
				<key>file-mod-date</key>
				<integer>3852770582</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3852770582</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2483628650</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va4wCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJAB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxYAAAABAQAAVmlzdWFsIFN0dWRpbyBDb2RlLmFwcAAA
				CAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAAbQarAAAAAAAI
				AAAABAMAAG0ndwEAAAAACAAAAAEGAABUAAAAZAAAAAgA
				AAAABAAAQcfJWGwAAAAYAAAAAQIAAAIAAAAAAAAADwAA
				AAAAAAAAAAAAAAAAAAgAAAABCQAAZmlsZTovLy8MAAAA
				AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAI
				AAAAAAQAAEHHl5ILAAAAJAAAAAEBAABFQ0NCQzM2QS00
				QUUzLTRCMkQtQTY2Qi1CQTk3QzI2QTYzODYYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAALwAAAAEBAABOU1VSTEJvb2ttYXJr
				UXVhcmFudGluZU1vdW50ZWROZXR3b3JrVm9sdW1lc0tl
				eQC0AAAA/v///wEAAAAAAAAADgAAAAQQAABEAAAAAAAA
				AAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAA
				AAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADE
				AAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMg
				AADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAA
				ABDQAAAEAAAAAAAAAFgBAIBQAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.VSCode</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Visual%20Studio%20Code.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Visual Studio Code</string>
				<key>file-mod-date</key>
				<integer>210221039500711</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>30223254952282</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2483628696</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEwB
				AAAEAAAAAwMAAAAAACAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAAV2hhdHNBcHAuYXBwCAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAbQarAAAAAAAIAAAABAMAAOocbAEA
				AAAACAAAAAEGAABIAAAAWAAAAAgAAAAABAAAQcfXUn8A
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHHl5IL
				AAAAJAAAAAEBAABFQ0NCQzM2QS00QUUzLTRCMkQtQTY2
				Qi1CQTk3QzI2QTYzODYYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAAOAAAAAAAAAAF
				EAAAaAAAAAAAAAAQEAAAiAAAAAAAAABAEAAAeAAAAAAA
				AAACIAAAOAEAAAAAAAAFIAAAqAAAAAAAAAAQIAAAuAAA
				AAAAAAARIAAA7AAAAAAAAAASIAAAzAAAAAAAAAATIAAA
				3AAAAAAAAAAgIAAAGAEAAAAAAAAwIAAARAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>net.whatsapp.WhatsApp</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/WhatsApp.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>WhatsApp</string>
				<key>file-mod-date</key>
				<integer>96576201539553</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>165132472926086</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>IN</string>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>trash-full</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-bl-corner</key>
	<integer>10</integer>
	<key>wvous-bl-modifier</key>
	<integer>0</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>0</integer>
</dict>
</plist>
