<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_US@rg=inzzzz</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleICUForce24HourTime</key>
	<true/>
	<key>AppleInterfaceStyle</key>
	<string>Dark</string>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
		<string>hi-IN</string>
	</array>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>en_US@rg=inzzzz</string>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>InitialKeyRepeat</key>
	<real>15</real>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<real>2</real>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<true/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2026-06-26T01:12:05Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>mul</string>
		<string>mul_IN</string>
		<string>de</string>
		<string>nl</string>
		<string>fr</string>
		<string>da</string>
		<string>pt</string>
		<string>ro</string>
		<string>es</string>
		<string>it</string>
		<string>sv</string>
		<string>hu</string>
		<string>pl</string>
		<string>tr</string>
		<string>hi</string>
		<string>hi_IN</string>
		<string>fi</string>
		<string>is</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>nl</string>
		<string>fr</string>
		<string>da</string>
		<string>pt</string>
		<string>ro</string>
		<string>es</string>
		<string>it</string>
		<string>sv</string>
		<string>hu</string>
		<string>pl</string>
		<string>tr</string>
		<string>hi</string>
		<string>fi</string>
		<string>is</string>
	</array>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>1</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>1</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>_AKBAACertMarkerKey</key>
	<data>
	PQbu4303iU5B5MjHTp+7/uTL3yWO8d9qa9HnN0IEl9Q=
	</data>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.google.drivefs.finderhelper.findersync</key>
			<false/>
			<key>com.oxygen.odriveapp</key>
			<false/>
			<key>com.synology.SynologyDrive.FinderHelper.FinderSync</key>
			<false/>
			<key>com.zohosync.truesync</key>
			<true/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.google.drivefs.finderhelper.findersync</key>
			<array>
				<string>file:///</string>
			</array>
			<key>com.oxygen.odriveapp</key>
			<array>
				<string>file:///cores/</string>
				<string>file:///Users/</string>
				<string>file:///home</string>
				<string>file:///.nofollow/</string>
				<string>file:///Applications/</string>
				<string>file:///sbin/</string>
				<string>file:///var</string>
				<string>file:///.vol/</string>
				<string>file:///etc</string>
				<string>file:///usr/</string>
				<string>file:///private/</string>
				<string>file:///bin/</string>
				<string>file:///.resolve/</string>
				<string>file:///opt/</string>
				<string>file:///Volumes/</string>
				<string>file:///tmp</string>
			</array>
			<key>com.synology.SynologyDrive.FinderHelper.FinderSync</key>
			<array/>
			<key>com.zohosync.truesync</key>
			<array/>
		</dict>
	</dict>
	<key>com.apple.keyboard.fnState</key>
	<true/>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>3</real>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
	<key>userMenuExtraStyle</key>
	<integer>2</integer>
</dict>
</plist>
