echo '~/bash_scripts/.aliases Loaded'

# Generic Aliases
alias c="clear"
alias ccb="pbcopy < /dev/null"
alias ls="ls -GAF"
alias vp='vimpager'

# Remove pesky Apple Turd files
alias rmdsfiles="find . -depth -name \".DS_Store\" -exec rm {} \;"
alias rmd_files="find . -depth -name \"._*\" -exec rm {} \;"

# Export Other Aliases
. ~/bash_scripts/.pam_aliases
