echo '~/bash_scripts/.aliases Loaded'

# Generic Aliases
alias c="clear"
alias ccb="xclip < /dev/null"
alias ls="ls -GAF"

# Remove pesky Apple Turd files
alias rmdsfiles="find . -depth -name \".DS_Store\" -exec rm {} \;"
alias rmd_files="find . -depth -name \"._*\" -exec rm {} \;"
