[user]
	name = Gaurav Agarwal
	email = gaurav@browserstack.com
[color]
	ui = true
[core]
	excludesfile = /Users/gaurav/.gitignore_global
[alias]
	st = status -sb
	co = checkout
	ribbon = tag --force _ribbon origin/master
	catchup = log master..origin/master
	gloga = log --graph --decorate --pretty=oneline --abbrev-commit --all
	glog = log --graph --decorate --pretty=oneline --abbrev-commit
	uncommit = reset HEAD^
	comet = multi remote update
	big-bang = multi up
	ru = remote update
	ll = log --date=local
	current-branch = rev-parse --abbrev-ref HEAD
	standup = log --since=yesterday --author=Gaurav
	oops = checkout HEAD^
[push]
	default = current
[diff]
	mnemonicprefix = true
