[user]
	name = Gaurav Agarwal
	email = gaurav@browserstack.com
[color]
	ui = true
[core]
	excludesfile = /Users/gaurav/.gitignore_global
[alias]
	st = status -sb
	co = checkout
	gloga = log --graph --decorate --pretty=oneline --abbrev-commit --all
	glog = log --graph --decorate --pretty=oneline --abbrev-commit
	standup = log --since=yesterday --author=Gaurav
	ll = log --date=local
	uncommit = reset HEAD^
	oops = checkout HEAD^
	current-branch = rev-parse --abbrev-ref HEAD
	ru = remote update
	comet = multi remote update
	big-bang = multi up
	ls-others = ls-files --other
	pr = pull --rebase
[push]
	default = current
[diff]
	mnemonicprefix = true
